*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   background-color: black;
   height: 100vh;
   width: 100vw;

}
h1{
    font-size: 48px;
    color: aliceblue;
    text-align: center;
    padding-top: 40px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;

}
.para{
    font-size: 48px;
    text-align: center;
    font-weight: 800;
    color: aliceblue;
    margin-top: 20px;
}
input ,button{
height: 50px;
border: 2px solid grey;
background-color: rgb(241, 240, 238);
color: black;
outline: none;
width: 400px;
padding: 8px 12px;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
}