*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
}
.container h1{
    font-size: 48px;
    color: white;
}
.quote{
    background-color: rgb(22, 42, 2);
    border-radius: 4px;
    border: 2px solid white;
    padding: 12px 24px;
    height: 300px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
    font-weight: 700;
}
button{
    height: 50px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
}