*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
height: 100vh;
    width: 100vw;
    background-color: black;
}
h1{
    color: antiquewhite;
    font-size: 48px;
    text-align: center;
    padding:  100px;
}
.container{
    
    
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    font-size: 20px;
    font-weight: 700;
    color: rgb(231, 195, 195);
    outline: none;
}
#red{
    background-color: red;
    padding: 12px 24px;
    border: 2px solid gray;
    border-radius: 4px;
}

#green{
    background-color: green;
    padding: 12px 24px;
    border: 2px solid gray;
    border-radius: 4px;
}

#purple{
    background-color: purple;
    padding: 12px 24px;
    border: 2px solid gray;
    border-radius: 4px;
}

#orange{
    background-color: orange;
    padding: 12px 24px;
    border: 2px solid gray;
    border-radius: 4px;
}

#white{
    background-color: white;
    padding: 12px 24px;
    border: 2px solid gray;
    border-radius: 4px;
}

#blue{
    background-color: blue;
    padding: 12px 24px;
    border: 2px solid gray;
    border-radius: 4px;
}